# Web Scraping

## Importing Libraries

In [1]:
import requests as rq

In [2]:
import bs4

In [3]:
import pandas as pd

## Scraping Book Details from an Online Bookstore

In [4]:
books = []
for i in range(1,51):
    url  = f"https://books.toscrape.com/catalogue/page-{i}.html"
    web = rq.get(url)
    web = web.content
    soup = bs4.BeautifulSoup(web, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article',class_='product_pod')

    for article in articles:
        image=article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p',class_='price_color').text
        price = float(price[1:])
        books.append([title, price, star])

## Creating Data Frame

In [5]:
df= pd.DataFrame(books,columns= ['Title', 'Price','Star Rating'])
df.index +=1
df.head()

                                   Title  Price Star Rating
1                   A Light in the Attic  51.77       Three
2                     Tipping the Velvet  53.74         One
3                             Soumission  50.10         One
4                          Sharp Objects  47.82        Four
5  Sapiens: A Brief History of Humankind  54.23        Five

## Export as .csv file

In [6]:
df.to_csv('books.csv', index_label='Index')